.col{

	margin-top: 30px;
	margin-bottom:20px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;

	
}
.logo{
	 margin-right: 50px;
	 padding-bottom: 40px;


}

.title-text{

	color:#D95402;
	
}

.no-space{
	
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom:0px;
	margin-left: 0px;
	margin-right:0px;

}

.col-side{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;
	padding-bottom: 40px;

}

.footer{
	/*background-color: #9E9E9E; */
	margin-top: 20px
	position: fixed;
  	left: 0;
  	bottom: 0;
 	width: 100%;
	}


#main{
	padding-bottom:70px;
}


a,.link-custom {
	 color:#D08006;
}

 .link-custom:hover{
	color:#D95402;
}


.hr-custom{
	height:2px;
	border-width:0;
	color:#8c8c8c;
	background-color:#8c8c8c;
	margin-top: -6px;

}

.side-info{
	color:#AFD4E9;
	font-weight: lighter;
	float:right;
	padding-left: 5px;
	text-align:right;

}
.side-info2{
	color:#8c8c8c;
	font-style:italic;
}

#invisible{
	color:#f8f9fa;
}

.footer-link{
	color:#D08006;
	margin-left: 10px;

}

.footer-link:hover{
	color:#D95402;
	
}

.navbar-brand{
	font-weight: bolder;
}

h3{
	color:#D95402;
	font-weight: bolder;
}

.btn-custom{
	background-color: #D46F31;
	color: #FFFFFF;
	justify-content: center;

}


.btn-custom:hover{
	background-color: white;
	color: #D95402;
	/*outline-color: : #D95402;
	outline-style: solid;*/
	box-shadow: 0 0 1px #D95402;

}

.thead-dark{
	background-color: #D46F31;
}



