<!DOCTYPE html>
<!--  Maria Teresa T CC'22 Kalpana Ganeshan SEAS'22  -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial scale=1">
    <!---bootstrap stuff---------->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
      <title>Overview</title>
  </head>
<body>

<!-- nav bar -->

<nav class="navbar sticky-top navbar-expand-lg  navbar-light bg-light justify-content-center text-center">
  <!-- <a class="navbar-brand" href="index.html">Maria Teresa Tomé</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center text-center" id="navbarNavDropdown">
    <ul class="nav justify-content-center text-center">
        <li class="nav-item">
        <a class="nav-link" href="/" >Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="ingredients">Ingredients</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="contestants">Contestants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="judges">Judges</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="episodes">Episodes</a>
      </li>
    </ul>
  </div>
</nav>

<div id="main" class="container" style="margin-top: 30px">
  <div class="row mx-auto d-block justify-content-center row-about " >
    <div class="col mx-auto d-block justify-content-center text-center">  
      
      <h1 class="text-center"><img alt="Chopped Database" src="{{ url_for('static', filename='Logo.svg') }}" class="img-fluid"></h1>
        
        <div class="col no-space justify-content-center text-center" style="padding-right: 30px; padding-left: 30px;">
           <h5 class="font-weight-light text-center">Based on 10 years of episode data, we have created this small web app to look at the database and all the information it has.</h5> </div>
<!--    <div class="col no-space justify-content-center text-center" style="padding-right: 30px; padding-left: 30px; margin-top: 30px;"> -->
          
          
    </div>
  </div>

  <div class="row mx-auto d-block justify-content-center row-about">
    <div class="col mx-auto d-block ">
      <a id="explore"><h3 class="text-center">Explore the database</h3></a>
      <h5 class="font-weight-light text-center"> Click on the icons or links below to discover chopped throughout the years. </h5>

    <div class="row" style="margin-top: 30px;">
      <div class="col-sm justify-content-center text-center">

        <a class="nav-link" href="ingredients"><img alt="Salt" src="{{ url_for('static', filename='salt.svg') }}"></a>
       <h5 style=" font-weight: bolder;">Ingredients</h5>
       <p class="font-weight-light">Find out what ingredients have been used over the years!</p>
          <a class="nav-link" style="margin-top: 10px;"href="ingredients">Discover </a>
    

    </div>
    <div class="col-sm justify-content-center text-center">

       <a class="nav-link" href="contestants"><img alt="Bread" src="{{ url_for('static', filename='bread.svg') }}"></a>
       <h5 style=" font-weight: bolder;">Contestants</h5>
       <p class="font-weight-light">Find out who has participated in Chopped throughout the years!</p>
          <a class="nav-link" style="margin-top: 10px;"href="contestants">Discover </a>
     

    </div>
    <div class="col-sm justify-content-center text-center">

        <a class="nav-link" href="judges"><img alt="Wine" src="{{ url_for('static', filename='wine.svg') }}"></a>
       <h5 style=" font-weight: bolder;">Judges</h5>
       <p class="font-weight-light">Find out who has judged everything in Chopped!</p>
          <a class="nav-link" style="margin-top: 10px;"href="judges">Discover </a>
      

    </div>
    <div class="col-sm justify-content-center text-center">
    
        <a class="nav-link" href="episodes"><img alt="Cheese" src="{{ url_for('static', filename='cheese.svg') }}"></a>
       <h5 style=" font-weight: bolder;">Episodes</h5>
       <p class="font-weight-light">Explore Chopped through its more than 500 episode collection!</p>
       <a class="nav-link" style="margin-top: 10px;"href="episodes">Discover </a>


    </div>
      

     
    </div>
     
    </div>    </div>
  </div>


</div>


<footer class="footer font-small text-black bg-light">
 
  <div class="text-center py-3">
  <a href="/" class="footer-link">Overview</a>
 <!--  <a href="https://github.com/mteretome/w4111-proj1" class="footer-link">Website Repository</a> -->

  </div>

</footer>



</body>
</html>
